.clip-path-arrow {
  clip-path: none;
}

@media (min-width: 768px) {
  .clip-path-arrow {
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-swing {
  animation: swing 2s infinite ease-in-out;
  transform-origin: bottom center;
}

.animate-swing-delayed {
  animation: swing 2s infinite ease-in-out;
  animation-delay: 1s; /* thoda late hilega */
  transform-origin: bottom center;
}
